{% if languages|length > 1 %}
  <div class="d-grid">
    <button type="button" href="#" class="btn btn-lg btn-inverse btn-block dropdown-toggle see-all d-flex align-items-center justify-content-center"
            data-bs-toggle="dropdown">
      {% for language in languages %}
        {% if language.code == code %}
          <img src="{{ language.image }}" alt="{{ language.name }}" title="{{ language.name }}"/>
        {% endif %}
      {% endfor %}
    </button>
    <div class="dropdown">
      <ul class="dropdown-menu">
        {% for language in languages %}
          <li><a href="{{ language.href }}" class="dropdown-item"><img src="{{ language.image }}"
                                                                       alt="{{ language.name }}"
                                                                       title="{{ language.name }}"/> {{ language.name }}
            </a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}